body {
  font-family: "Montserrat";
}

#title {
  background-color: #d21f3c;
}

h1 {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 3% 0 1%;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5rem;
}

p {
  color: #8f8f8f;
}


.container-fluid {
  padding: 3% 15%;
}

/* Navgation Bar */
.navbar {
  margin-top: -110px;
}

.navbar-brand {
  font-family: Ubuntu;
  line-height: 5;
  font-size: 3rem;

}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 300;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3%;
}

.download-btn-cta {
  margin: 1%;
}

/* Title image */

.title-image {
  transform: rotate(25deg);
  width: 260px;
  position: absolute;
  margin-left: 5%;



}
/*features Box*/

#features {
  text-align: center;
  padding: 15% 7%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.icon {
  margin-bottom: 1rem;
  color:#eb6767;
}
 .icon:hover {
   color: #e8274e;
 }

 .feature.box {
   margin: 7% 3%;
 }

 .description-features {
   margin-bottom: 10%;
 }

/*testimonials*/

#testimonials {
  background-color: #d21f3c;
  text-align: center;
  color: #fff;
}

.testimonials-image {
  border-radius: 100%;
  margin: 20px;
  width: 12%;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */

#press {
  background-color: #d21f3c;
  text-align: center;
  padding-bottom: 5%;

 }

.press-logo {
  width: 15%;

}


/* Pricing */
 #pricing {
   margin-bottom: 40px;
   text-align: center;
 }

 .pricing-column {
  padding: 3% 2%;

 }

 /* CTA */

#cta {
background-color: #e8274e;
text-align: center;
height: 400px;
color: #fff;
padding: 2% 15%;

}

.h3-cta {
  font-size: 3rem;
  font-family: Montserrat;
  font-weight: bold;
  line-height: 1.5;
  margin: 2% 0 10%;

}

/* Footer */

#footer {
background-color: #fff;
text-align: center;
height: 200px;
padding: 7% 15%;

}
.social-icon{
  margin: 0 1%;
}




 @media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }


 }
